:root {
    --primary: #035296;
    --secondary: #ffffff;
    --info: #adadad;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.container-fluid {
    width: 70% !important;
    
    margin: 2em auto 2em auto;
    
}

.rectangle-container {
    height: 3em;
    background-color: var(--primary);
}

.top-rectangle {
    padding: 0 !important;
    display: flex;
    width: 100%;
}

.top-rectangle .rectangle-container-white{
    width: 60%;
}

.top-rectangle .rectangle-container {
    width: 33%;
}

.bottom-rectangle {
    padding: 0 !important;
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
}

.bottom-rectangle .rectangle-container-white{
    width: 30%;
}



.bottom-rectangle .rectangle-container {
    width: 66%;
}

.rectangle-container-white {
    width: 100%;
    height: 3em;
    background-color: var(--secondary);
}

.left-cv-container {
    padding: 2em;
}

.left-cv-container h1 {
    margin-bottom: 2em;
    color: var(--primary);
    font-weight: 700;
}

.right-cv-container {
    padding: 2em;
}

.left-cv-container section div{
    margin-bottom: 1em;
}

.left-cv-container section div p{
    margin: 0;
}

h3 {
    color: var(--primary);
    font-weight: 600;
}

section {
    margin-bottom: 2em;
}